md-card-actions{
    min-height: 44px;
    position: relative;
    overflow: hidden;

    button{
        position: absolute;
        right: 10px;
    }
}

/deep/ md-input{
     .md-input-underline{
        border-color: transparent;
     }

     .md-input-wrapper{
        margin: 0 0 16px 0;         
     }
}
