@*<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2643.1624756080996!2d14.501313115826571!3d48.51094997925498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47730b9ec145ca67%3A0x304f475d1471ba57!2sGudbelldon!5e0!3m2!1sde!2sat!4v1445757840259" height="350" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
</div>*@


<div class="container contact-container">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">Mein Stricksalon freut sich auf dich!</h4>
            <p class="center-align">Trau dich und kontaktiere mich.</p>
        </div>
    </div>

    <div class="row">
        <form id="contact-form" class="col m6 hide-on-small-only" novalidate="novalidate">
            <h5>Sende mir eine Nachricht</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="contactFirstName" type="text" name="firstName">
                    <label for="contactFirstName">Dein Vorname</label>
                </div>
                <div class="input-field col s12">
                    <input id="contactEmail" class="validate" type="email" name="email" required="required">
                    <label for="contactEmail">Deine E-Mail Adresse</label>
                </div>
                <div class="input-field col s12">
                    <input id="contactSubject" type="text" name="subject" required="required">
                    <label for="contactSubject">Betreff</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="contactText" class="materialize-textarea" name="text" required="required"></textarea>
                    <label for="contactText">Dein Anliegen</label>
                </div>
                <div class="col s12">
                    <button id="sendMailButton" class="btn waves-effect waves-light" type="submit">
                        Senden
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>

        <div class="col m6 contact-details">
            <h5>So erreichst du mich</h5>
            <div class="row">
                <div class="valign-wrapper col s12">
                    <i class="medium material-icons phone-icon">phone</i>
                    <h5 class="valign"><a href="tel:004366475078435">0664 7507 8435</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="valign-wrapper col s12">
                    <i class="medium material-icons mail-icon">email</i>
                    <h5 class="valign"><a href="emailto:office@gudbelldon.at">office@gudbelldon.at</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="valign-wrapper col s12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2643.1624756080996!2d14.501313115826571!3d48.51094997925498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47730b9ec145ca67%3A0x304f475d1471ba57!2sGudbelldon!5e0!3m2!1sde!2sat!4v1445757840259" height="350" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

