@using System.Globalization;
@model HomeModel
@{ 
    var cultureInfo = new CultureInfo("de-AT");
}
<div class="container contact-container">
    <div class="row">
        <div class="col s12">
            <div class="image-heading">
                <img src="~/Content/Images/Haube-orange.png" />
                <h4 class="center-align">Strickabende im Gudbelldon</h4>
            </div>
            <h5 class="center-align">
                Montags oder Dienstags finden ab 18:30 Uhr (genaue Termine siehe unten) Strickabende statt. <br /><br />
                Egal ob Anfängerin oder schon ein Strick-Ass: hier darf in gemütlicher Atmosphäre dein Strickstück wachsen und ich stehe dir mit Rat und Tat zur Seite!
            </h5>

            <br />

            <div class="center-align">
                @foreach (var date in Model.KnittingDates)
                {
                    
                    <span class="card-panel">
                        <span class="card-title activator grey-text text-darken-4">
                            @date.Date.ToString("ddd dd.MM.yyyy", cultureInfo)
                        </span>
                    </span>
                }

                @if (!Model.KnittingDates.Any())
                {
                    <div class="card-panel">Aktuell sind leider keine Strickabendtermine vorgesehen.</div>
                }
            </div>

            <p class="center-align disclaimer">
                Ich bitte um dein Verständnis, dass bei mitgebrachter Wolle ein Kostenbeitrag von € 4,- zum Ausgleich dient. Bitte um kurze Anmeldung per Mail, SMS, FB, Anruf oder mündliche Absprache - damit auch bestimmt ein Platz frei ist :)
            </p>
        </div>
    </div>
</div>
