@using System.Globalization;
@model HomeModel
@{ 
    var cultureInfo = new CultureInfo("de-AT");
}
<div class="container contact-container">
    <div class="row">
        <div class="col s12">
            <div class="image-heading">
                <img src="~/Content/Images/Haube-orange.png" />
                <h4 class="center-align">Strickabende im Gudbelldon</h4>
            </div>
            <h5 class="center-align">
                Einmal wöchentlich findet ab 18:30 Uhr im Gudbelldon Stricksalon ein Strickabend statt – dabei kannst du dein aktuelles Projekt mitbringen oder etwas Neues beginnen – ich stehe dir gerne mit Rat und Tat zur Seite!<br /><br/>
                Einmal im Monat jedoch findet dieser Strickabend in einem Freistädter Lokal statt – diese Abende sind mit einem orangenen Stern gekennzeichnet – nimm also auch deine Freundinnen mit und wir stricken in einer großen Runde in gemütlichem Ambiente! Wo diese Strickabende stattfinden erfährst du hier oder via fb! Ich freue mich auf`s gemeinsame Stricken!
            </h5>

            <br />

            <div class="center-align">
                @foreach (var date in Model.KnittingDates)
                {
                    
                    <div class="card" style="position: relative">
                        @if (!string.IsNullOrEmpty(date.Icon))
                        {
                            <i class="material-icons card-icon" style="color:@date.Color">@date.Icon</i>
                        }
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4" >
                                @date.Date.ToString("ddd dd.MM.yyyy", cultureInfo)                               
                            </span>                           
                        </div>
                        @if (!string.IsNullOrEmpty(date.Location))
                        {
                        <div class="card-reveal">
                            <span class="grey-text text-darken-4">@date.Location</span>
                        </div>
                        }
                    </div>
                }

                @if (!Model.KnittingDates.Any())
                {
                    <div class="card-panel">Aktuell sind leider keine Strickabendtermine vorgesehen.</div>
                }
            </div>

            <p class="center-align disclaimer">
                Ich bitte um dein Verständnis, dass bei mitgebrachter Wolle ein Kostenbeitrag von € 4,- zum Ausgleich dient. Bitte um kurze Anmeldung per Mail, SMS, FB, Anruf oder mündliche Absprache - damit auch bestimmt ein Platz frei ist :)
            </p>
        </div>
    </div>
</div>
