<div id="impressumModal" class="modal impressum">
    <div class="modal-content">
        <h3>Impressum</h3>
        <h5>Angaben gemäß § 5 TMG:</h5>
        <p>
            Sandra Klein<br />
            Gudbelldon Stricksalon<br />
            Pfarrgasse, 11<br />
            4240 Freistadt
        </p>

        <h5>Kontakt:</h5>
        <table>
            <tr>
                <td>Telefon:</td>
                <td>0664 7507 8435</td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td>office@gudbelldon.at</td>
            </tr>
        </table>

        <h5>Umsatzsteuer-ID:</h5>
        <p>
            Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
            12341234
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn btn-flat">Schließen</a>
    </div>
</div>
